.container_proj{
    opacity: 0;
    width: calc(100% - 60px);
    height: 100%;
    margin-left: 60px;
    animation: fadeIn 1s forwards;
    -webkit-animation: fadeIn 1s forwards;
    animation-delay: 1s;
    padding-left: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .swiper{
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        .swiper-slide{
            color: #fff;
            width: 300px;
            height: 300px;
            background-position: center;
            background-size: cover;
            position: relative;
            overflow: hidden;
            transition: .4S;
            -webkit-transition: .4S;
            -moz-transition: .4S;
            -ms-transition: .4S;
            -o-transition: .4S;
            img{
                width: 100%;
                height: 100%;
            }
            p{
                font-size: 17px;
                font-weight: 700;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateY(0%);
                -webkit-transform: translateY(0%);
                -moz-transform: translateY(0%);
                -ms-transform: translateY(0%);
                -o-transform: translateY(0%);
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: .4s;
                opacity: 0;
                transition-delay: .3s;
                span{
                    color:#ffd700 ;
                }
            }
            &:hover p{
                opacity: 1;
                transform: translateY(-100%);
                -webkit-transform: translateY(-100%);
                -moz-transform: translateY(-100%);
                -ms-transform: translateY(-100%);
                -o-transform: translateY(-100%);
            }
            a{
                color: #000;
                background-color: #ffd700;
                font-size: 17px;
                font-weight: 700;
                position: absolute;
                left: 0;
                padding: 10px;
                border-radius: 25px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -100%);
                opacity:0;
                transition: .4s;
                -webkit-transition: .4s;
                -moz-transition: .4s;
                -ms-transition: .4s;
                -o-transition: .4s;
                transition-delay: .2s;
                -webkit-transform: translate(-50%, -100%);
                -moz-transform: translate(-50%, -100%);
                -ms-transform: translate(-50%, -100%);
                -o-transform: translate(-50%, -100%);
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &:hover a {
                transform: translate(-50%, -50%);
                opacity: 1;
            }
            &::before{
                content: '';
                position: absolute;
                bottom: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg,#0c0f14,transparent);
                transition: .4s;
                -webkit-transition: .4s;
                -moz-transition: .4s;
                -ms-transition: .4s;
                -o-transition: .4s;
            }
            
            &:hover::before{
                bottom: 0;
            }
        }
        animation: fadeInRight 1s 1s;
        -webkit-animation: fadeInRight 1s 1s;
        animation-fill-mode: forwards;
        opacity: 0;
}
}
.loaderStyle{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #022c43;
    z-index: 999999999;
    position: absolute;
    left: 0%;
    top: 0;
}
.swiper-pagination-bullet{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.swiper-pagination-bullet-active{
    background-color: #ffd700!important;
}

.swiper-slide-next,
.swiper-slide-prev{
    opacity: .5;
}
