.nav-bar{
    background-color: #181818;
    width: 60px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .logo{
        display: block;
        padding: 8px 0;
        img{
            display: block;
            margin: 8px auto;
            width: 60px;
            height: auto;
            
        }
    }
    .sub-logo{
        width: 50px;
        color: #489bff;
    }
    nav{
        width: 100%;
        height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        a{
            font-size: 2rem;
            text-decoration: none;
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
            }
            i{
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
            }
            &:hover{
                color: #489bff;
                svg{
                    opacity: 0;
                    transform: scale(1.5) rotate(35deg);
                    -webkit-transform: scale(1.5) rotate(35deg);
                    -moz-transform: scale(1.5) rotate(35deg);
                    -ms-transform: scale(1.5) rotate(35deg);
                    -o-transform: scale(1.5) rotate(35deg);
}
                &:after{
                    opacity: 1;
                    transform: translate(-50%, -50%) ;
                    -webkit-transform: translate(-50%, -50%) ;
                    -moz-transform: translate(-50%, -50%) ;
                    -ms-transform: translate(-50%, -50%) ;
                    -o-transform: translate(-50%, -50%) ;
}
            }
            &::after{
                content: '';
                font-size: 11px;
                position: absolute;
                top: 50%;
                display: block;
                text-align: center;
                width: 100%;
                opacity: 0;
                left: 50%;
                font-weight: bold;
                transition: all .3s ease;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
                transform: translate(-30%, -50%) ;
                -webkit-transform: translate(-30%, -50%) ;
                -moz-transform: translate(-30%, -50%) ;
                -ms-transform: translate(-30%, -50%) ;
                -o-transform: translate(-30%, -50%) ;
}
            &:first-child{
                &::after{
                    content: 'Home';
                }
            }
            
        }
        a.link_about{
            &::after{
                content: 'About';
            }
        }
        a.link_contact{
            &::after{
                content: 'Contact';
            }
        }
        a.link_skills{
            &::after{
                content: 'Skills';
            }
        }
        a.link_projects{
            &::after{
                content: 'My Works';
            }
        }
        a.active{
            color: #489bff;
        }
    }

    ul{
        li{
            font-size: 20px;
            margin-bottom: 1rem;
            
        }
        svg{
            color: #4d4d4e;
            transition: all .3s ease;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -ms-transition: all .3s ease;
            -o-transition: all .3s ease;
        }
        li:hover svg{
            color: #489bff;
            transform: scale(1.2) rotate(10deg);
            -webkit-transform: scale(1.2) rotate(10deg);
            -moz-transform: scale(1.2) rotate(10deg);
            -ms-transform: scale(1.2) rotate(10deg);
            -o-transform: scale(1.2) rotate(10deg);
        }
    }
}
nav .active svg{
    color: #489bff;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}



// Media query ===========================
.burg_menu{
    display: none;
    padding-right: .5rem;
}
.show-nav{
    transform: translateX(-100%)!important;
    -webkit-transform: translateX(-100%)!important;
    -moz-transform: translateX(-100%)!important;
    -ms-transform: translateX(-100%)!important;
    -o-transform: translateX(-100%)!important;
}

.burg_menu svg{
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .4s;
    display: inline-block;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    &:hover{
        border-color: #489bff;
    }
}
@media (max-width: 991.98px) { 
    .burg_menu{
        display: block;
    }
    .nav-bar{
        top: 0;
        width: 100%;
        height: 60px;
        min-height: 50px;
        flex-direction: row;
        position: relative;
        ul{
            display: flex;
            gap: 25px;
        }
    }
    .nav-bar nav{
        flex-direction: row;
        width: 100%;
        position: absolute;
        bottom: -60px;
        background-color: #181818;
        height: 60px;
        right: -100%;
        transform: translateX(100%);
        transition: .4s;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
   
    .nav-bar ul li{
        margin-bottom: 0;
    }
    .nav-bar .logo img{
        width: 45px;
    }
 }